<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CCEs Test Scheduled</title>
  </head>
  <body>
    <div align="center" class="alignment">
      <span style="font-size: 30px; color: #ffffff" ;>
        TashiCell Online Test
        <br />
      </span>
    </div>
    <div style="font-family: sans-serif">
      <div
        style="
          font-size: 14px;
          line-height: 21px;
          color: #000;
          line-height: 1.5;
          font-family: Varela Round, Trebuchet MS, Helvetica, sans-serif;
          padding-top: 3rem;
        "
      >
        <p style="margin: 0; font-size: 14px; text-align: center">
          CCEs Test is Scheduled one
        </p>
      </div>
    </div>
    <div align="center" class="alignment">
      <a
        style="
          text-decoration: none;
          display: inline-block;
          color: #091548;
          background-color: #007bff;
          padding-top: 1rem;
          border-radius: 24px;
          width: auto;
          border-top: 1px solid #ffffff;
          font-weight: 400;
          border-right: 1px solid #ffffff;
          border-bottom: 1px solid #ffffff;
          border-left: 1px solid #ffffff;
          padding-top: 5px;
          padding-bottom: 5px;
          font-family: Varela Round, Trebuchet MS, Helvetica, sans-serif;
          text-align: center;
          border-style: none;
          word-break: keep-all;
        "
        target="_blank"
        ><span
          style="
            padding-left: 25px;
            padding-right: 25px;
            font-size: 15px;
            display: inline-block;
            letter-spacing: normal;
          "
        >
          <span dir="ltr" style="word-break: break-word">
            <span data-mce-style dir="ltr" style="line-height: 30px">
              <strong>New&nbsp; Document Uploaded<br /> </strong>
            </span>
          </span>
        </span>
      </a>
    </div>
    <div style="font-family: sans-serif; padding-top: 7rem">
      <div
        style="
          font-size: 12px;
          font-family: Varela Round, Trebuchet MS, Helvetica, sans-serif;
          line-height: 14.399999999999999px;
          color: #4a60bb;
          line-height: 1.2;
        "
      >
        <p style="margin: 0; font-size: 12px; text-align: center">
          <span style
            >© 2022 Software Development Unit<br /><br />Tashi InfoComm Ltd<br
          /></span>
        </p>
      </div>
    </div>
  </body>
</html>
